{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/checkbox.css' %}">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="create_container">
            <input type="text" class="create_input" placeholder="Напишите сюда новую задачу"/>
            <button class="create_button">Добавить</button>
        </div>

        <div class="todo_container">
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:15</span></p>
                    <div class="action_buttons">
                        <img src="./icons/basket.png" />
                        <img src="./icons/yellow.png" />
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:15</span></p>
                    <div class="action_buttons">
                        <img src="./icons/basket.png" />
                        <img src="./icons/star.png" />
                    </div>
                </div>
            </div>
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:15</span></p>
                    <div class="action_buttons">
                        <img src="./icons/basket.png" />
                        <img src="./icons/star.png" />
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:15</span></p>
                    <div class="action_buttons">
                        <img src="./icons/basket.png" />
                        <img src="./icons/star.png" />
                    </div>
                </div>
            </div>
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:15</span></p>
                    <div class="action_buttons">
                        <img src="./icons/basket.png" />
                        <img src="./icons/star.png" />
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Buy Milk</h4>
                </div>
                
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:15</span></p>
                    <div class="action_buttons">
                        <img src="./icons/basket.png" />
                        <img src="./icons/yellow.png" />
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
</body>
</html>